<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/style.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/src/main/resources/static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/src/main/resources/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/src/main/resources/static/img/favicon-16x16.png">
    <link rel="manifest" href="/src/main/resources/static/img/site.webmanifest">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Ruda:wght@400;500;700;900&display=swap" rel="stylesheet">

    <title>Pizza Shop</title>
</head>
<body>
<header id="header">
    <h3>la caravana</h3>
    <nav id="nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>

<section class="main">
    <div class="title">
        <h1>la caravana</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ipsam facilis inventore magni porro ab harum assumenda quisquam?
            Quis vel perferendis unde porro, placeat accusantium molestias. Commodi quae natus necessitatibus est quam.</p>
    </div>
    <div class="pizza">
        <img src="/src/main/resources/static/img/pizza-3000285_1920 1.png" alt="">
    </div>
</section>

<section class="aboutUs">
    <div class="aboutUsText">
        <h4>about us</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nemo repudiandae voluptates debitis eos deserunt,
            aspernatur excepturi quos unde repellendus laboriosam, recusandae suscipit illum non enim quaerat libero adipisci! Vel!</p>
        <input type="button" value="read more">
    </div>
    <div class="aboutUsImg">
        <img src="/src/main/resources/static/img/restaurant-5521372_1920 1.png" alt="">
    </div>
</section>
</body>
</html>